/* --------------------------------------
=========================================
COLOR : BLUE 

MAIN COLOR CODE: #55b84d

DEEP COLOR CODE: #068543
=========================================
----------------------------------------- */
.colored-line {
  background: #55b84d;
}
.colored-text {
  color: #55b84d !important;
}
.color-bg {
  background: #55b84d;
}
a {
  color: #55b84d;
}
.non-sticky .navbar-nav > li > a:hover {
  color: #55b84d;
}
.standard-button {
  background: #55b84d;
  color: #ffffff;
}
.standard-button:hover {
  color: #ffffff;
  background: #0186ca;
}
.secondary-button:hover {
  color: #55b84d;
  border-color: #55b84d;
}
.sticky-navigation .main-navigation .current a {
  color: #55b84d !important;
}
.sticky-navigation .navbar-nav > li > a:hover {
  color: #55b84d;
}
.feature-list-1 li .icon-container {
  background: #55b84d;
}
.feature-list-2 li .icon-container {
  background: #55b84d;
}
.feature .icon {
  color: #55b84d;
}
.vertical-registration-form .input-box, .vertical-registration-form .textarea-box {
  border-top: 1px solid rgba(0, 142, 214, 0.4);
  border-bottom: 1px solid rgba(0, 142, 214, 0.4);
  border-right: 1px solid rgba(0, 142, 214, 0.4);
  border-left: 3px solid #55b84d;
}
.vertical-registration-form .input-box:focus,
.vertical-registration-form .input-box:active {
  border-color: #55b84d;
}
.subscription-form .input-box:focus,
.subscription-form .input-box:active {
  border-left: 3px solid #55b84d !important;
}
.input-box:active,
.textarea-box:active,
.input-box:focus,
.textarea-box:focus {
  border-left: 3px solid #55b84d !important;
}
.screenshots .owl-theme .owl-controls .owl-page span {
  background: #55b84d;
}
.contact-link {
  color: #55b84d;
}
.contact-link:hover {
  color: #068543;
}
.social-icons li a:hover {
  color: #55b84d;
}
